<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="mt-4">
        <h5>Welcome <%= data %></h5>
        <a href="/pages/logout" class="btn btn-secondary">Logout</a>

      </div>
    </div>
  </body>
</html>
